@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: #002b49;
        --secondary-color: #002b49;
        --yellow-color: #efca74;
        --orange-color: #fab14b;
        --height-header: 100px;

        --t: 0.5s;
        // z-index
        --z-cursor: 160;
        --z-loading: 159;
        --z-hamburger: 151;
        --z-nav: 150;
        --z-social: 140;
        --z-modal: 110;
        --z-button: 109;
        --z-header: 64;
        --z-body: 5;
        --z-hero: 4;
    }

    html {
        @apply 2xl:text-[calc(.65vw_+_.1em)];
    }

    body {
        @apply font-primary b1;
    }

    .b1 {
        @apply text-[0.9375rem] font-light leading-6 tracking-widest xl:text-[calc(0.9375rem_+_0.04vw)] xl:leading-[calc(1.5rem_+_0.04vw)];
    }
}

@layer components {
    .container {
        @apply px-4 lg:px-6;
    }

    .hamburder-button {
        @apply relative h-14 w-14 cursor-pointer rounded-full bg-white;
        span {
            @apply absolute left-1/2 top-1/2 block h-[2px] w-7 -translate-x-1/2 bg-black;
            &:nth-of-type(1) {
                @apply -translate-y-1/2;
            }

            &:nth-of-type(2) {
                @apply -translate-y-[calc(50%_-_7px)];
            }

            &:nth-of-type(3) {
                @apply -translate-y-[calc(50%_+_7px)];
            }
        }
    }

    .home-hero {
        &::before {
            background-size: 2rem auto;
            background-image: url('/images/motif-gd-1.svg');
            @apply pointer-events-none absolute left-0 top-0 z-0 h-[calc(100%_-_7.5vmax)] w-full opacity-50 mix-blend-multiply content-[''] 2xl:h-[calc(100%_-_5.5vmax)];
        }
    }

    .hero-text {
        -webkit-text-stroke: 2px #efe9e6;
    }

    .tt-image {
        @apply relative w-full overflow-hidden before:block before:pb-[100%];
        img {
            @apply absolute left-0 top-0 block h-full w-full;
        }
    }
}

@layer utilities {
    .h-screen-view {
        height: calc(var(--vh, 1vh) * 100);
    }
}
